<form{{ attributes }}>
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    <div class="form-group">
        {{ form.request_type}}
    </div>
    <div class="form-group">
        {{ form.surname }}
        {{ form.name }}
        {{ form.country }}
        {{ form.email }}
        {{ form.phone }}
        {{ form.message }}
    </div>
    <div class="checkbox">
        {{ form.privacy }}
    </div>
    <div class="btn-link-blue">
        {{ form.submit }}
    </div>
</form>